{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block title %}
   Products
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/admin_style.css" %}">
{% endblock %}

{% block coltype %}
   colMS
{% endblock %}

{% block bodyclass %}
   {{ block.super }}
    admin_task
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; 
        <a href="{% url 'ad_products' %}">{% trans 'AdminTaskProducts' %}</a> 
    </div>
{% endblock %}



<!--for =>  Welcome, shoumitro . View FoodShop / Change password / Log out--> 
{% block usertools %}

        <div id="user-tools">
            <!--for => Welcome, shoumitro-->
            {% block welcome-msg %}
                {% trans 'Welcome,' %} <strong>  {% firstof user.get_short_name user.get_username %} </strong>.
            {% endblock %}

            {% block userlinks %}
                 <a href="/">{% trans 'View FoodShop' %}</a> /
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}

                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
{% endblock %}


<!--for main content-->
{% block content %}
    <div class="btn_container">
         <ul>
            <li><a href="/admin/"><span class="fa fa-dashboard"></span>&nbsp;Dashboard</a></li>
            <li><a href="/admin/public/product/"><span class="fa fa-edit"></span>&nbsp;Products</a></li>
            <li><a href="/admin/public/productinfo/"><span class="fa fa-edit"></span>&nbsp;Product info</a></li>
            <li><a href="/admin/public/productcategory/"><span class="fa fa-edit"></span>&nbsp;Product Category</a></li>
            <li><a href="{% url 'stock' %}"><span class="fa fa-edit"></span>&nbsp;Stock Info</a></li>
            <li><a href="/admin/admin_task/ad_products/price/"><span class="fa fa-edit"></span>&nbsp;Price Info</a></li>
            <li><a href="/admin/admin_task/ad_products/taxed/"><span class="fa fa-edit"></span>&nbsp;Taxed Info</a></li>
            <li><a href="/admin/admin_task/ad_products/discount/"><span class="fa fa-edit"></span>&nbsp;Discount Info</a></li>
            <li><a href="/admin/admin_task/ad_products/basic/"><span class="fa fa-edit"></span>&nbsp;Basic Info</a></li>

        </ul>
    </div>
{% endblock %}

