{% extends "admin/base_site.html" %}
{% load i18n static %}


{% block title %}
    Analysis
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "css/admin_style.css" %}">
{% endblock %}

{% block coltype %}
   colMS
{% endblock %}

{% block bodyclass %}
   {{ block.super }}
    admin_task
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; 
        <a href="{% url 'analysis' %}">{% trans 'Analysis' %}</a>
    </div>
{% endblock %}



<!--for =>  Welcome, shoumitro . View FoodShop / Change password / Log out--> 
{% block usertools %}

        <div id="user-tools">
            <!--for => Welcome, shoumitro-->
            {% block welcome-msg %}
                {% trans 'Welcome,' %} <strong>  {% firstof user.get_short_name user.get_username %} </strong>.
            {% endblock %}

            {% block userlinks %}
                 <a href="/">{% trans 'View FoodShop' %}</a> /
                {% if user.has_usable_password %}
                    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}

                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
{% endblock %}


<!--for main content-->
{% block content %}
    <div class="btn_container">
         <ul>
            <li><a href="/admin/"><span class="fa fa-dashboard"></span>&nbsp;Dashboard</a></li>
            <li><a href=""><span class="fa fa-edit"></span> &nbsp; Table</a></li>
            <li><a href=""><span class="fa fa-edit"></span> &nbsp;Chart</a></li>
        </ul>
    </div>
{% endblock %}

