{% extends 'sample.html' %}
{% block title %}Change Password{% endblock %}



{% block user_main_content %}

<div class="change_password">
    <div class="dashboard_header">
        <h1>Change Password</h1>
    </div>
    <div class="change_password_body">
        <form method="get" action="">
            <div class="pw_group">
                <label class=""><span class="fa fa-lock"></span> Current Password</label>
                <input type="password" name="current_password" placeholder="Enter current password.." />
            </div>
            <div class="pw_group">
                <label class=""><span class="fa fa-lock"></span> New Password</label>
                <input type="password" name="new_password" placeholder="Enter New password.." />
            </div>
            <div class="pw_group">
                <label class=""><span class="fa fa-lock"></span> Retype Password</label>
                <input type="password" name="retype_password" placeholder="Enter Retype password.." />
            </div>
            <div class="pw_group">
                <input class="pw_submit" type="submit" value="Change" />
            </div>
        </form>
    </div>
</div>

<script>
    var ele = document.querySelector("#change_password");
    ele.classList.add('bar_active');
</script>
{% endblock user_main_content%}